@model LIBRARYMVC.Models.Entity.TBLANNOUNCEMENT

@{
    ViewBag.Title = "AnnouncementDetail";
    Layout = "~/Views/Shared/LıbraryLayout.cshtml";
}



<div class="container mt-5">
    <h2 class="mb-4 text-center">Duyuru Güncelle</h2>
    @using (Html.BeginForm("AnnouncementUpdate", "Announcement", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.ID)
        <div class="form-group">
            <label for="TITLE">Kategori</label>
            @Html.TextBoxFor(x => x.CATEGORY, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label for="CONTENT">İçerik</label>
            @Html.TextAreaFor(x => x.CONTENT, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="DATE">Tarih</label>
            @Html.TextBoxFor(x => x.DATE, "{0:dd/MM/yyyy}", new { @class = "form-control", @readonly = "readonly" })
        </div>
        <button type="submit" class="btn btn-success">Güncelle</button>
        <a href="@Url.Action("Index", "Announcement")" class="btn btn-secondary">Geri Dön</a>
    }
</div>