@model LIBRARYMVC.Models.Entity.TBLBOOK
@{
    ViewBag.Title = "BookGet";
    Layout = "~/Views/Shared/LıbraryLayout.cshtml";
}

<div class="col-md-6 mx-auto form-group " style="margin-top:5%">
    <h6 class="fw-bold text-xxl-center">Kitap Güncelleme Sayfası</h6>
    <hr style="border:solid 2px black" />
    @using (Html.BeginForm("BookUpdate", "Book", FormMethod.Post))
    {

        
        <label>Kitap ID</label>
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })

        <br />

        <label>Kitap Adı</label>
        @Html.TextBoxFor(x => x.NAME, new { @class = "form-control" })

        <br />

        <label>Kategori</label>
        @Html.DropDownListFor(x => x.TBLCATEGORY.ID, (List<SelectListItem>)ViewBag.value1, new { @class = "form-control" })
        <br />

        <label>Yazar</label>
        @Html.DropDownListFor(x => x.TBLWRITER.ID, (List<SelectListItem>)ViewBag.vle, new { @class = "form-control" })
        <br />

        <label>Basım Yılı</label>
        @Html.TextBoxFor(x => x.PRINTINGYEAR, new { @class = "form-control" })

        <br />

        <label>Yayınevi</label>
        @Html.TextBoxFor(x => x.PUBLISHER, new { @class = "form-control" })

        <br />

        <label>Sayfa</label>
        @Html.TextBoxFor(x => x.PAGE, new { @class = "form-control" })
        <br />

        <button class="btn fw-semibold w-100" style="margin-top: 25px; margin-bottom: 50px; background-color: #202f44; color: aliceblue">Güncelle</button>
        <input type="hidden" name="SITUATION" value="True" />

    }
    </div>
